links {

  width: 200px;
}

.link-list {
  padding-top: 10px;
}

.link {

}

.title {
  height: 36px;
  padding: 6px 5px 6px 10px;
  margin: 5px 20px 5px 10px;
  border-radius: 6px;
  color: #FFDE17;
  background-color: #21409A;
}

